/* Tailwind CSS dark mode configuration - only for cdn */
@media (prefers-color-scheme: dark) {
  :root {
    --tw-bg-opacity: 1;
    --tw-text-opacity: 1;
    --tw-border-opacity: 1;
  }
}
body {
  font-family: 'Work Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
.mono {
  font-family: 'IBM Plex Mono', monospace;
  font-weight: 400;
  font-style: normal;
  /* color: hsl(77.87deg 44.3% 58.84%); */
}
